In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', 166)

In [6]:
df_train = pd.read_csv(r'fraudTrain.csv',index_col='Unnamed: 0')

In [11]:
df_train.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,NC,28654,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,ID,83252,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,MT,59632,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,VA,24433,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [12]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1296675 entries, 0 to 1296674
Data columns (total 22 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   trans_date_trans_time  1296675 non-null  object
 1   cc_num                 1296675 non-null  int64
 2   merchant               1296675 non-null  object
 3   category               1296675 non-null  object
 4   amt                    1296675 non-null  float64
 5   first                  1296675 non-null  object
 6   last                   1296675 non-null  object
 7   gender                 1296675 non-null  object
 8   street                 1296675 non-null  object
 9   city                   1296675 non-null  object
 10  state                  1296675 non-null  object
 11  zip                    1296675 non-null  int64
 12  lat                    1296675 non-null  float64
 13  long                   1296675 non-null  float64
 14  city_pop               1296675 non-null  int64
 15  job                    1296675 non-null  object
 16  dob                    1296675 non-null  object
 17  trans_num              1296675 non-null  object
 18  unix_time              1296675 non-null  int64
 19  merch_lat              1296675 non-null  float64
 20  merch_long             1296675 non-null  float64
 21  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(5), object(12)
memory usage: 227.5+ MB

In [13]:
df_train.category.value_counts()

category
gas_transport     131659
grocery_pos       123638
home              123115
shopping_pos      116672
kids_pets         113035
shopping_net       97543
entertainment      94014
food_dining        91461
personal_care      90758
health_fitness     85879
misc_pos           79655
misc_net           63287
grocery_net        45452
travel             40507
Name: count, dtype: int64

In [15]:
df_train.job.value_counts(), len(df_train.job.value_counts())

(job
 Film/video editor             9779
 Exhibition designer           9199
 Naval architect               8684
 Surveyor, land/geomatics      8680
 Materials engineer            8270
                               ...
 Information officer              8
 Veterinary surgeon               8
 Ship broker                      7
 Contracting civil engineer       7
 Warehouse manager                7
 Name: count, Length: 494, dtype: int64,
 494)

In [18]:
df_train.state.value_counts(), len(df_train.state.value_counts())

(state
 TX    94876
 NY    83501
 PA    79847
 CA    56360
 OH    46480
 MI    46154
 IL    43252
 FL    42671
 AL    40989
 MO    38403
 MN    31714
 AR    31127
 NC    30266
 WI    29368
 VA    29250
 SC    29190
 KY    28475
 IN    27580
 IA    26985
 OK    26671
 MD    26193
 GA    26063
 WV    25691
 NJ    24603
 NE    24168
 KS    22996
 MS    21188
 LA    20965
 WY    19322
 WA    18924
 OR    18597
 TN    17554
 ME    16505
 NM    16407
 ND    14786
 CO    13880
 MA    12376
 SD    12324
 VT    11768
 MT    11754
 AZ    10770
 UT    10699
 NH     8278
 CT     7702
 NV     5607
 ID     5545
 DC     3613
 HI     2559
 AK     2120
 RI      550
 DE        9
 Name: count, dtype: int64,
 51)

In [19]:
df_train.city.value_counts(), len(df_train.city.value_counts())

(city
 Birmingham     5617
 San Antonio    5130
 Utica          5105
 Phoenix        5075
 Meridian       5060
                ...
 Vacaville         7
 Claypool          7
 Karns City        7
 Bruce             7
 Chattanooga       7
 Name: count, Length: 894, dtype: int64,
 894)

In [36]:
df_train.is_fraud.value_counts()/df_train.shape[0]*100

is_fraud
0    99.421135
1     0.578865
Name: count, dtype: float64

In [21]:
col_to_drop = ['trans_date_trans_time', 'cc_num', 'merchant', 'first', 'last', 'street', 'city', 'state', 'job', 'dob', 'trans_num']

In [23]:
df = df_train.drop(col_to_drop,axis=1)

In [25]:
df.gender = df.gender.replace('M', 1).replace('F', 0)

In [26]:
df.head()

,category,amt,gender,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,misc_net,4.97,0,28654,36.0788,-81.1781,3495,1325376018,36.011293,-82.048315,0
1,grocery_pos,107.23,0,99160,48.8878,-118.2105,149,1325376044,49.159047,-118.186462,0
2,entertainment,220.11,1,83252,42.1808,-112.2620,4154,1325376051,43.150704,-112.154481,0
3,gas_transport,45.00,1,59632,46.2306,-112.1138,1939,1325376076,47.034331,-112.561071,0
4,misc_pos,41.96,1,24433,38.4207,-79.4629,99,1325376186,38.674999,-78.632459,0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1296675 entries, 0 to 1296674
Data columns (total 11 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   category    1296675 non-null  object
 1   amt         1296675 non-null  float64
 2   gender      1296675 non-null  int64
 3   zip         1296675 non-null  int64
 4   lat         1296675 non-null  float64
 5   long        1296675 non-null  float64
 6   city_pop    1296675 non-null  int64
 7   unix_time   1296675 non-null  int64
 8   merch_lat   1296675 non-null  float64
 9   merch_long  1296675 non-null  float64
 10  is_fraud    1296675 non-null  int64
dtypes: float64(5), int64(5), object(1)
memory usage: 118.7+ MB

In [30]:
df = pd.get_dummies(df,drop_first=True)

In [32]:
df = df.replace(False, 0).replace(True, 1)

In [33]:
df.head()

,amt,gender,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel
0,4.97,0,28654,36.0788,-81.1781,3495,1325376018,36.011293,-82.048315,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,107.23,0,99160,48.8878,-118.2105,149,1325376044,49.159047,-118.186462,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,220.11,1,83252,42.1808,-112.2620,4154,1325376051,43.150704,-112.154481,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,45.00,1,59632,46.2306,-112.1138,1939,1325376076,47.034331,-112.561071,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,41.96,1,24433,38.4207,-79.4629,99,1325376186,38.674999,-78.632459,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [34]:
df.shape

(1296675, 23)

# Data Spliting

In [38]:
X = df.drop('is_fraud',axis=1)
y = df['is_fraud']

In [40]:
from imblearn.under_sampling import RandomUnderSampler

# VIF Analysis

In [37]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [39]:
vif = pd.DataFrame()
vif['fearure'] = X.columns
vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(len(X.columns))]
vif['VIF'] = vif['VIF']
vif = vif.sort_values(by='VIF',ascending=False)
vif

                    fearure         VIF
4                      long  573.502018
8                merch_long  568.166518
6                 unix_time  178.010862
3                       lat   78.407484
7                 merch_lat   78.283237
2                       zip    6.390284
10   category_gas_transport    2.156271
12     category_grocery_pos    2.102518
14            category_home    2.089034
20    category_shopping_pos    2.040412
15       category_kids_pets    2.009748
19    category_shopping_net    1.885524
9      category_food_dining    1.833035
18   category_personal_care    1.829703
13  category_health_fitness    1.785994
17        category_misc_pos    1.732974
16        category_misc_net    1.591731
11     category_grocery_net    1.431681
21          category_travel    1.388377
5                  city_pop    1.029760
0                       amt    1.016868
1                    gender    1.008962

In [41]:
X = X.drop('long',axis=1)

In [42]:
vif = pd.DataFrame()
vif['fearure'] = X.columns
vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(len(X.columns))]
vif['VIF'] = vif['VIF']
vif = vif.sort_values(by='VIF',ascending=False)
vif

                    fearure         VIF
5                 unix_time  176.948060
3                       lat   78.406045
6                 merch_lat   78.283209
2                       zip    6.330864
7                merch_long    6.219320
9    category_gas_transport    2.156271
11     category_grocery_pos    2.102517
13            category_home    2.089034
19    category_shopping_pos    2.040411
14       category_kids_pets    2.009745
18    category_shopping_net    1.885522
8      category_food_dining    1.833035
17   category_personal_care    1.829703
12  category_health_fitness    1.785991
16        category_misc_pos    1.732973
15        category_misc_net    1.591730
10     category_grocery_net    1.431681
20          category_travel    1.388376
4                  city_pop    1.029760
0                       amt    1.016868
1                    gender    1.008961

In [43]:
X = X.drop('unix_time',axis=1)

In [44]:
vif = pd.DataFrame()
vif['fearure'] = X.columns
vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(len(X.columns))]
vif['VIF'] = vif['VIF']
vif = vif.sort_values(by='VIF',ascending=False)
vif

                    fearure          VIF
3                       lat  4589.047894
5                 merch_lat  4531.000179
6                merch_long   125.026791
2                       zip    17.564363
8    category_gas_transport     2.297741
10     category_grocery_pos     2.225745
12            category_home     2.206821
18    category_shopping_pos     2.143531
13       category_kids_pets     2.108581
17    category_shopping_net     1.959270
7      category_food_dining     1.896307
16   category_personal_care     1.891009
11  category_health_fitness     1.844069
1                    gender     1.837857
15        category_misc_pos     1.779507
14        category_misc_net     1.622869
9      category_grocery_net     1.442546
19          category_travel     1.401604
0                       amt     1.211389
4                  city_pop     1.107618

In [45]:
X = X.drop('lat', axis=1)
vif = pd.DataFrame()
vif['fearure'] = X.columns
vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(len(X.columns))]
vif['VIF'] = vif['VIF']
vif = vif.sort_values(by='VIF',ascending=False)
vif

                    fearure         VIF
5                merch_long  123.801800
4                 merch_lat   57.003532
2                       zip   17.458554
7    category_gas_transport    2.297521
9      category_grocery_pos    2.225554
11            category_home    2.206647
17    category_shopping_pos    2.143390
12       category_kids_pets    2.108440
16    category_shopping_net    1.959142
6      category_food_dining    1.896178
15   category_personal_care    1.890868
10  category_health_fitness    1.843957
1                    gender    1.837795
14        category_misc_pos    1.779381
13        category_misc_net    1.622743
8      category_grocery_net    1.442484
18          category_travel    1.401556
0                       amt    1.211388
3                  city_pop    1.107460

In [46]:
X = X.drop('merch_long', axis=1)
vif = pd.DataFrame()
vif['fearure'] = X.columns
vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(len(X.columns))]
vif['VIF'] = vif['VIF']
vif = vif.sort_values(by='VIF',ascending=False)
vif

                    fearure        VIF
4                 merch_lat  13.755993
2                       zip   4.000811
6    category_gas_transport   2.168565
8      category_grocery_pos   2.100770
10            category_home   2.079606
16    category_shopping_pos   2.021323
11       category_kids_pets   1.991723
15    category_shopping_net   1.861130
1                    gender   1.826209
5      category_food_dining   1.801929
14   category_personal_care   1.795786
9   category_health_fitness   1.758201
13        category_misc_pos   1.697312
12        category_misc_net   1.559818
7      category_grocery_net   1.394665
17          category_travel   1.361405
0                       amt   1.210207
3                  city_pop   1.094457

In [48]:
rus = RandomUnderSampler(random_state=21)

In [49]:
X_new, y_new = rus.fit_resample(X, y)

In [82]:
df.head()

,amt,gender,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel
0,4.97,0,28654,36.0788,-81.1781,3495,1325376018,36.011293,-82.048315,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,107.23,0,99160,48.8878,-118.2105,149,1325376044,49.159047,-118.186462,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,220.11,1,83252,42.1808,-112.2620,4154,1325376051,43.150704,-112.154481,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,45.00,1,59632,46.2306,-112.1138,1939,1325376076,47.034331,-112.561071,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,41.96,1,24433,38.4207,-79.4629,99,1325376186,38.674999,-78.632459,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [84]:
df.columns, len(df.columns)

(Index(['amt', 'gender', 'zip', 'lat', 'long', 'city_pop', 'unix_time',
        'merch_lat', 'merch_long', 'is_fraud', 'category_food_dining',
        'category_gas_transport', 'category_grocery_net',
        'category_grocery_pos', 'category_health_fitness', 'category_home',
        'category_kids_pets', 'category_misc_net', 'category_misc_pos',
        'category_personal_care', 'category_shopping_net',
        'category_shopping_pos', 'category_travel'],
       dtype='object'),
 23)

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X_new, y_new,test_size=0.25,random_state=21)

# Scaling

In [52]:
from sklearn.preprocessing import StandardScaler

In [53]:
scaling = StandardScaler()

In [54]:
X_train_scaled = scaling.fit_transform(X_train)
X_test_scaled = scaling.transform(X_test)

In [55]:
X_train_scaled.shape, X_test_scaled.shape

((11259, 18), (3753, 18))

# Modeling

### Logistic Regression

In [56]:
from sklearn.linear_model import LogisticRegression

In [57]:
lr = LogisticRegression(random_state=21)
lr.fit(X_train_scaled, y_train)

LogisticRegression(random_state=21)

In [58]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, auc, roc_auc_score, roc_curve, ConfusionMatrixDisplay, confusion_matrix

In [59]:
print(f'Train accuracy of the model is: {round(accuracy_score(y_train, lr.predict(X_train_scaled))*100,2)} %')
print(f'Train precision of the model is: {round(precision_score(y_train, lr.predict(X_train_scaled))*100,2)} %')
print(f'Train recall of the model is: {round(recall_score(y_train, lr.predict(X_train_scaled))*100,2)} %')
print('-'*40)
print(f'Test accuracy of the model is: {round(accuracy_score(y_test, lr.predict(X_test_scaled))*100,2)} %')
print(f'Test precision of the model is: {round(precision_score(y_test, lr.predict(X_test_scaled))*100,2)} %')
print(f'Test recall of the model is: {round(recall_score(y_test, lr.predict(X_test_scaled))*100,2)} %')

Train accuracy of the model is: 81.71 %
Train precision of the model is: 87.08 %
Train recall of the model is: 74.86 %
----------------------------------------
Test accuracy of the model is: 81.11 %
Test precision of the model is: 85.06 %
Test recall of the model is: 74.21 %

### Gradient Boosting

In [60]:
from sklearn.ensemble import GradientBoostingClassifier

In [61]:
gbc = GradientBoostingClassifier(random_state=21)
gbc.fit(X_train_scaled,y_train)

print(f'Train accuracy of the model is: {round(accuracy_score(y_train, gbc.predict(X_train_scaled))*100,2)} %')
print(f'Train precision of the model is: {round(precision_score(y_train, gbc.predict(X_train_scaled))*100,2)} %')
print(f'Train recall of the model is: {round(recall_score(y_train, gbc.predict(X_train_scaled))*100,2)} %')
print('-'*40)
print(f'Test accuracy of the model is: {round(accuracy_score(y_test, gbc.predict(X_test_scaled))*100,2)} %')
print(f'Test precision of the model is: {round(precision_score(y_test, gbc.predict(X_test_scaled))*100,2)} %')
print(f'Test recall of the model is: {round(recall_score(y_test, gbc.predict(X_test_scaled))*100,2)} %')

Train accuracy of the model is: 95.75 %
Train precision of the model is: 95.5 %
Train recall of the model is: 96.09 %
----------------------------------------
Test accuracy of the model is: 94.72 %
Test precision of the model is: 94.77 %
Test recall of the model is: 94.36 %

### Random Forest

In [62]:
from sklearn.ensemble import RandomForestClassifier

In [63]:
rfc = RandomForestClassifier(random_state=21)
rfc.fit(X_train_scaled,y_train)

print(f'Train accuracy of the model is: {round(accuracy_score(y_train, rfc.predict(X_train_scaled))*100,2)} %')
print(f'Train precision of the model is: {round(precision_score(y_train, rfc.predict(X_train_scaled))*100,2)} %')
print(f'Train recall of the model is: {round(recall_score(y_train, rfc.predict(X_train_scaled))*100,2)} %')
print('-'*40)
print(f'Test accuracy of the model is: {round(accuracy_score(y_test, rfc.predict(X_test_scaled))*100,2)} %')
print(f'Test precision of the model is: {round(precision_score(y_test, rfc.predict(X_test_scaled))*100,2)} %')
print(f'Test recall of the model is: {round(recall_score(y_test, rfc.predict(X_test_scaled))*100,2)} %')

Train accuracy of the model is: 100.0 %
Train precision of the model is: 100.0 %
Train recall of the model is: 100.0 %
----------------------------------------
Test accuracy of the model is: 95.82 %
Test precision of the model is: 96.23 %
Test recall of the model is: 95.13 %

In [66]:
df_test = pd.read_csv(r'fraudTest.csv',index_col='Unnamed: 0')
df_test.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,84002,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,NY,11710,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,FL,32780,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,MI,49632,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [68]:
df_test.drop(col_to_drop,axis=1, inplace=True)

In [70]:
df_test.gender = df_test.gender.replace('M',1).replace('F',0)

In [71]:
df_test.head()

,category,amt,gender,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
0,personal_care,2.86,1,29209,33.9659,-80.9355,333497,1371816865,33.986391,-81.200714,0
1,personal_care,29.84,0,84002,40.3207,-110.4360,302,1371816873,39.450498,-109.960431,0
2,health_fitness,41.28,0,11710,40.6729,-73.5365,34496,1371816893,40.495810,-74.196111,0
3,misc_pos,60.05,1,32780,28.5697,-80.8191,54767,1371816915,28.812398,-80.883061,0
4,travel,3.19,1,49632,44.2529,-85.0170,1126,1371816917,44.959148,-85.884734,0

In [73]:
df_test.drop(['long', 'unix_time', 'merch_long', 'lat'],axis=1,inplace=True)

In [76]:
df_test = pd.get_dummies(df_test,drop_first=True)

In [78]:
df_test = df_test.replace(False, 0).replace(True, 1)

In [81]:
df_test.head()

,amt,gender,zip,city_pop,merch_lat,is_fraud,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel
0,2.86,1,29209,333497,33.986391,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,29.84,0,84002,302,39.450498,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,41.28,0,11710,34496,40.495810,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,60.05,1,32780,54767,28.812398,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,3.19,1,49632,1126,44.959148,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [90]:
X_df_test = df_test.drop('is_fraud',axis=1)
y_df_test = df_test['is_fraud']

In [104]:
X_df_test_new, y_df_test_new = rus.fit_resample(X_df_test, y_df_test)

In [105]:
X_df_test_scaled = scaling.transform(X_df_test_new)

### Logistic Regression

In [108]:
print(f'The Accuracy score of Logistic Regression model on the testdata set is: {round(accuracy_score(y_df_test_new,lr.predict(X_df_test_scaled))*100,2)} %')
print(f'The Precision score of Logistic Regression model on the testdata set is: {round(precision_score(y_df_test_new,lr.predict(X_df_test_scaled))*100,2)} %')
print(f'The Recall score of Logistic Regression model on the testdata set is: {round(recall_score(y_df_test_new,lr.predict(X_df_test_scaled))*100,2)} %')

The Accuracy score of Logistic Regression model on the testdata set is: 80.44 %
The Precision score of Logistic Regression model on the testdata set is: 85.15 %
The Recall score of Logistic Regression model on the testdata set is: 73.75 %

### Gradient Boost

In [109]:
print(f'The Accuracy score of Gradient Boosting model on the testdata set is: {round(accuracy_score(y_df_test_new,gbc.predict(X_df_test_scaled))*100,2)} %')
print(f'The Precision score of Gradient Boosting model on the testdata set is: {round(precision_score(y_df_test_new,gbc.predict(X_df_test_scaled))*100,2)} %')
print(f'The Recall score of Gradient Boosting model on the testdata set is: {round(recall_score(y_df_test_new,gbc.predict(X_df_test_scaled))*100,2)} %')

The Accuracy score of Gradient Boosting model on the testdata set is: 94.64 %
The Precision score of Gradient Boosting model on the testdata set is: 94.76 %
The Recall score of Gradient Boosting model on the testdata set is: 94.5 %

### Random Forest

In [110]:
print(f'The Accuracy score of Random Forest model on the testdata set is: {round(accuracy_score(y_df_test_new,rfc.predict(X_df_test_scaled))*100,2)} %')
print(f'The Precision score of Random Forest model on the testdata set is: {round(precision_score(y_df_test_new,rfc.predict(X_df_test_scaled))*100,2)} %')
print(f'The Recall score of Random Forest model on the testdata set is: {round(recall_score(y_df_test_new,rfc.predict(X_df_test_scaled))*100,2)} %')

The Accuracy score of Random Forest model on the testdata set is: 95.94 %
The Precision score of Random Forest model on the testdata set is: 96.68 %
The Recall score of Random Forest model on the testdata set is: 95.15 %

##### This model should have a good Precision Score